<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../../../public/common/css/frameWork.css" rel="stylesheet" type="text/css" />
    <link href="../../../../libs/css/admin/launchEvent/launchEvent.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../../../plugin/jQuery/jQuery.min.js"></script>
    <script type="text/javascript" src="../../../../plugin/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../../../plugin/templateWeb/templateWeb.js"></script>
    <script type="text/javascript" src="../../../../plugin/jQueryCookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../../../public/common/js/libs/request.js"></script>
    <script type="text/javascript" src="../../../../public/common/js/libs/global.js"></script>
    <script type="text/javascript" src="../../../../public/common/js/libs/common.js"></script>
    <script type="text/javascript" src="../../../../public/common/js/libs/publicModule.js"></script>
    
    <script type='text/javascript' src='../../../../libs/js/admin/launchEvent/launchEvent.js'></script>
    <title></title>
</head>
<body>
    <div class='iframe_title'>
        <h2>
            <p>
                <i class='layui-icon'>&#xe68e;</i>
                <span>当前位置：</span>
            </p>
            <a>我的活动</a>
            <i class='layui-icon'>&#xe602;</i>
            <a>我发布的活动</a>
            <input name='undertake' type="text" required  lay-verType='tips' lay-verify="undertake" placeholder="请输入关键字" autocomplete="off" id='layuisearch' class="layui-input" />
            <i class="layui-icon search">&#xe615;</i>
        </h2>
    </div>
    <div class='templet'>
        <ul>
            <div data-loader="circle" class='loading hot-loading'></div>
            <script id="user-cell" type="text/html">
                {{each content as value i}}
                        <li>
                            <span>活动名称：{{value.name}}</span>
                            <span>活动时间：{{value.startTime}} - {{value.endTime}}</span>
                            <span>活动类别：{{value.firstTypeName}} &nbsp; {{value.secondTypeName}}</span>
                            {{if value.activityApproval === '0'}}
                                <span>活动状态：待审核</span>
                            {{/if}}
                            {{if value.activityApproval === '2'}}
                                <span>活动状态：已驳回</span>
                            {{/if}}
                            {{if value.status === '0' && value.activityApproval !== '0' && value.activityApproval !== '2'}}
                                <span>活动状态：即将开始</span>
                            {{/if}}
                            {{if value.status === '1' && value.activityApproval !== '0' && value.activityApproval !== '2'}}
                                <span>活动状态：已开始</span>
                            {{/if}}
                            {{if value.status === '2' && value.activityApproval !== '0' && value.activityApproval !== '2'}}
                                <span>活动状态：已结束</span>
                            {{/if}}
                            <a href='../trainingDetails/trainingDetails.html?id={{value.id}}&type=1'>
                                <button type="button" class="layui-btn layui-btn-primary">详情</button>
                            </a>
                            {{if value.activityApproval === '2'}}
                                <a onclick='Checkrejection(this)' data-id='{{value.id}}'>
                                    <button type="button" class="layui-btn layui-btn-primary">查看驳回原因</button>
                                </a>
                                <a onclick='reedit(this)' data-id='{{value.id}}'>
                                    <button type="button" class="layui-btn layui-btn-primary">重新编辑</button>
                                </a>
                            {{/if}}
                        </li>
                {{/each}}
            </script>
        </ul>
        <div id='laypage'></div>
    </div>
</body>
</html>