<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../../../public/common/css/frameWork.css" rel="stylesheet" type="text/css" />
    <link href="../../../../libs/css/admin/trainingDetails/trainingDetails.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../../../plugin/jQuery/jQuery.min.js"></script>
    <script type="text/javascript" src="../../../../plugin/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../../../plugin/templateWeb/templateWeb.js"></script>
    <script type="text/javascript" src="../../../../plugin/jQueryCookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../../../public/common/js/libs/request.js"></script>
    <script type="text/javascript" src="../../../../public/common/js/libs/global.js"></script>
    <script type="text/javascript" src="../../../../public/common/js/libs/common.js"></script>
    <script type="text/javascript" src="../../../../public/common/js/libs/publicModule.js"></script>

    <script type='text/javascript' src='../../../../libs/js/admin/trainingDetails/trainingDetails.js'></script>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.14&key=40441ee3620db2daaf276a67f18e37ec"></script> 
    <title></title>
</head>
<body>
    <div class='iframe_title'>
        <h2>
            <p>
                <i class='layui-icon'>&#xe68e;</i>
                <span>当前位置：</span>
            </p>
            <a onclick="PreviousPage();">我的活动</a>
            <i class='layui-icon'>&#xe602;</i>
            <a onclick="PreviousPage();" class='title'></a>
            <i class='layui-icon'>&#xe602;</i>
            <a>活动详情</a>
        </h2>
    </div>
    <div class='layui-row current'>
        <div class='Details'>
            <div data-loader="circle" class='loading Details-loading'></div>
            <script id="Details-cell" type="text/html">
                <div class='title layui-elip'>{{name}}</div>
                <div class='time'>发布时间：{{createTime}}</div>
                <div class='main'>
                    <div class='image'>
                        <img src="{{image}}" />
                    </div>
                    <div class='right'>
                        <ul>
                            <li>活动分类：{{firstTypeName}}<i class='layui-icon'>&#xe602;</i>{{secondTypeName}}</li>
                            <li>主办单位：{{host}}</li>
                            <li>承办单位：{{undertake}}</li>
                            <li>活动时间：{{startTime}} - {{endTime}}</li>
                            <li>联系人：
                                {{ if IfLogin == ''}}
                                    {{contacts.substr(0, 1) + "**"}}
                                {{else}}
                                    {{contacts}}
                                {{/if}}
                            </li>
                            <li>联系电话：
                                {{ if IfLogin == ''}}
                                    {{contactsPhone.substr(0, 3) + "****" + contactsPhone.substr(7)}}
                                {{else}}
                                    {{contactsPhone}}
                                {{/if}}
                            </li>
                            <li>活动地址：{{address}}</li>
                        </ul>
                    </div>
                </div>
                <div class="Title">
                    <span>活动内容</span>
                </div>
                <div class='Richtext'></div>
                <div id="container"></div>
                <div class='attaChment' style='margin:0px 20px'>
                    <h2><i class='iconfont TanSanfujian2'></i><span>下载附件</span></h2>
                    <div class='attrContent'>
                        <span class='title'>普通附件</span>
                        {{if file.split('.')[1] === 'jpg' ||  file.split('.')[1] === 'png' || file.split('.')[1] === 'jpeg' || file.split('.')[1] === 'gif'}}
                            <div class='typeImage'>
                                <img src='../../../../public/images/{{Suffix}}' />
                                <span>{{file}}</span>
                                <p><a href='{{Upfile}}' target='_blank'>预览</a></p>
                                <p style='float:left'><a id='upload' data-loadname='{{file}}' data-load='{{Upfile}}'>下载</a></p>
                            </div>
                            {{else}}
                            <div class='typeImage'>
                                <img src='../../../../public/images/{{Suffix}}' />
                                <span>{{file}}</span>
                                <p class='UploadLeft'><a id='upload' data-loadname='{{file}}' data-load='{{Upfile}}'>下载</a></p>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </script>
        </div>
    </div>
    <script src="http://danml.com/js/download2.js"></script>
</body>
</html>