<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../../public/common/css/frameWork.css" rel="stylesheet" type="text/css" />
    <link href="../../../libs/css/about/about.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../../plugin/jQuery/jQuery.min.js"></script>
    <script type="text/javascript" src="../../../plugin/layui/layui.all.js"></script>
    <script type="text/javascript" src="../../../plugin/templateWeb/templateWeb.js"></script>
    <script type="text/javascript" src="../../../plugin/jQueryCookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/request.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/global.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/common.js"></script>
    <script type="text/javascript" src="../../../public/common/js/libs/publicModule.js"></script>

    <script type='text/javascript' src='../../../libs/js/about/about.js'></script>
    <title>唐山小微公共服务平台</title>
</head>
<body>
    <header></header>
    <nav>
        <div class='layui-row'>
            <div class='layui-main'>
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item">
                        <a href="../../index.html">首页</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../policy/policy.html">政策解读</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../enterprise/enterprise.html">企业上云</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../training/training.html">培训活动</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../beijing/beijing.html">京翼互动</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../application/application.html">企业应用</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="../guarantee/guarantee.html">融资担保</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='layui-row'>
        <div class='banner'>
            <img src="../../../public/images/main.jpg"/>
        </div>
    </div>
    <div class='layui-main'>
        <div class='layui-row'>
            <div class='layui-col-xs3'>
                <div class='about_nav layui-tab'>
                    <h2>快速导航</h2>
                    <ul class="layui-tab-title">
                        <li>
                            关于我们
                            <i class='layui-icon'>&#xe602;</i>
                        </li>
                        <li>
                            法律责任
                            <i class='layui-icon'>&#xe602;</i>
                        </li>
                        <li>
                            隐私保护
                            <i class='layui-icon'>&#xe602;</i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='layui-col-xs9'>
                <div class='about_box'>
                    <ul class="layui-tab-content">
                        <li class="layui-tab-item show">
                            <p>唐山市小微企业创业创新公共服务平台（以下简称“平台”），是在唐山市工业和信息化局倡导下，由智慧神州（唐山）信息技术有限公司承建的构筑信息共享、数据融合、协同服务的创新平台。平台采用“1+18+X”的建设模式，“1”是唐山市小微企业提供综合服务的总平台，“18”是唐山市18个区县开设的展示平台，“X”是聚合唐山市其它主导产业、优势产业和战略性新兴产业的专业化服务平台。</p>
                            <p>平台面向政府、园区、企业提供政务服务、资源服务、公共服务等全方位、多维度的线上线下融合服务；通过资源互通共享，运营统一管理协调，为唐山市小微企业提供各类线上线下综合性服务；平台还将持续对接京津冀地区更多的金融服务、技术服务、社会服务、政策与资金申报服务、创业服务以及其它服务资源，为唐山小微企业提供“低成本、管家式”的创业创新服务。</p>
                        </li>
                        <li class="layui-tab-item">
                            <p>一.监督管理</p>
                            <p>公民、法人或者其他组织认为唐山市小微企业公共服务平台经办机构或相关业务部门在服务提供过程中有违法行为的，可以向其上级行政机关、监察机关举报。</p>
                            <p>二.工作人员责任</p>
                            <p>从事唐山市小微企业公共服务平台管理和服务的工作人员玩忽职守、滥用职权、徇私舞弊的，由其所在单位或上级主管机构给予处理，构成违法犯罪的，由有关部门依法追究其法律责任。</p>
                            <p>三.用户责任</p>
                            <p>用户对自己在唐山市小微企业公共服务平台中的网上行为负全部责任。违反有关法律、法规的，唐山市小微企业公共服务平台管理单位保留立即终止向该用户提供服务的权利，并由有关部门依法追究其法律责任。</p>
                        </li>
                        <li class="layui-tab-item">
                            <p>尊重用户个人隐私，用户采用前台匿名后台实名的管理方式；除法律、法规另有规定或与用户约定事由外，不得公开、编辑或透露用户的注册资料及保存在唐山市小微企业公共服务平台各项服务中的非公开内容。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
</html>